* {
    font-family: Arial, Helvetica, sans-serifß;
}

input {
    width:100%;
    height:30px;
    border-color: #CCC;
    border-radius: 4px;
    padding-left: 8px;
      
}
button {
    font-size: 14px;
    padding:4px 6px;
     border-color: #CCC;
     border-radius: 4px;
     height:40px;
     width:90px;
     margin:5px;
     
     
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #EEE;
  height:90vh;
  margin-top: 60px !important;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-family: Arial;
  
}
.mainTitle {
    font-size: 24px;
    margin-top: 15px;
    margin-left: 50px;
    position: absolute;
}

.savebtn {
    background-color: #39ACDC;
    border: none;
}



.notepad-title-input {
  grid-column: 1 / span 4;
  align-self: center;
  margin-left: 30px;
}

.note-title-input {
  grid-column: 1 / span 3;
  align-self: center;
  margin-top: 10px;
  width:400px;
}

.note-input {
  grid-column: 1 / span 5;
  
  margin-top: 10px;
  width:400px;
  height:100px;
}

.view-stats{
  grid-column: 10 / span 1;
  justify-self: end;
   align-self: center;
   background-color: #EEE;
    
}

.view-stats-btn { 
    background-color: #EEE;
}

.save-btn {
background-color: #39ACDC ;
color:#EEE;
border: none;
}

.delete-btn {
    background-color: #EC3646;
    color:#EEE;
    border: none;
}

.save{
  grid-column: 11 / span 1;
  justify-self: center;  
   align-self: center;
}


.delete{
  grid-column: 12 / span 1;
  justify-self: start; 
   align-self: center;
   
}

.add {
  grid-column: 1 / span 1;
  justify-self: start; 
   align-self: center;
   margin-left: 30px;
}
.add-btn {
  background-color: #57B93E;
  color:#EEE;
  border: none;
  }
.notes-heading {
  grid-column: 1 / span 6;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 30px;
}